.react-router
build
node_modules
README.md
.env*
# Allow specifically the dev database
!packages/db/prisma/dev.db

*.db
*.db-journal
.private-incident
debug
storage
scripts/**
!scripts/prod-start.sh
docs
.git
.husky
biome.json
tsconfig.json
